* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}
p {
  font-family: sans-serif;
}
a,
a:focus,
a:hover {
  text-decoration: none;
  color: #000;
}
body {
  background-color: rgb(35, 35, 35);
  background-image: url("/images/gun-metal.png");
}
.containerMn {
  width: 93%;
  height: auto;
  display: block;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-size: 43px;
}
ul li {
  list-style-type: none;
}
.doucksGroupItemBox ul li {
  list-style-type: square;
  color: grey;
  font-size: 2em;
}
#headerID {
  width: 100%;
  height: 65px;
  display: block;
  background-color: rgb(0, 0, 0);
  background-image: url("/images/gun-metal.png");
}
.nav {
  width: 97%;
  height: 100%;
  margin: auto;
  display: block;
  font-family: "Bebas Neue", cursive;
}
.navGroup {
  display: grid;
  row-gap: 1px;
  column-gap: 1px;
  grid-template-columns: 1fr 2fr;
}
.nav2 {
  text-align: right;
  display: block;
  position: relative;
}
.nav2 a {
  font-size: 30px;
  color: #e5e5ee;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.green {
  color: #7cc242 !important;
}

.nav2 a:hover {
  color: #fff;
}
.navlogo {
  width: 240px;
  height: auto;
  position: relative;
  z-index: 2;
}
#navmanu {
  padding: 5px 15px;
}
.manuUL li {
  display: inline-block;
  margin: 0 5px;
  padding: 17px 10px;
  position: relative;
}
.submanu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 300px;
  height: auto;
  z-index: 9999;
  display: none;
  background-color: rgb(0, 0, 0);
  background-image: url("/images/gun-metal.png");
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.submanu li {
  display: block;
  text-align: left;
  padding: 3px 5px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.submanu li a {
  display: block;
}
.manuUL li:hover .submanu {
  display: block;
}
.submanu li:hover {
  padding: 3px 10px;
}
.nav3 {
  display: none;
}
.nav3BoxUL li {
  background-color: #fff;
}
#Barger {
  float: right;
  font-size: 30px;
  padding: 17px 5px;
  color: #fff;
}
.manuULMovile {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.manuULMovile li {
  display: block;
  padding: 10px 30px;
}
.manuULMovile li a {
  font-size: 20px;
  display: block;
}
#banner {
  display: block;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.banner_group {
  width: 100%;
  height: 600px;
  display: block;
}
.banner_group:after {
  content: "";
  display: block;
  clear: both;
}
.banner_item {
  width: 100%;
  height: 600px;
  outline: 0;
  position: relative;
}
.banner_item img {
  width: 100%;
  height: 600px;
}
.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.slick-dots li button {
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: 0;
  color: transparent;
  overflow: hidden;
}
#banner .slick-active {
  background-color: #fff;
  width: 7px;
  height: 7px;
}
.banner_itemBox {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  display: block;
}
.banner_itemBox h1 {
  font-size: 70px;
  text-shadow: 0.03em 0.07em 0 #000;
}
.banner_itemBox p {
  font-size: 20px;
  color: #fff;
}
/* #banner .slick-next,
#banner .slick-prev {
  background: 0 0;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  cursor: pointer;
  color: #fff;
  padding: 10px 13px;
  border-radius: 5px;
  transition: 0.5s;
  opacity: 1;
  border: 1px solid #fff;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
} */
#banner .slick-next {
  left: 98%;
  font-size: 1.2rem;
  z-index: 999;
}
#banner .slick-prev {
  left: 2rem;
  font-size: 1.2rem;
  z-index: 999;
}
#bannerLmore {
  border: 1px solid #fff;
  font-size: 25px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  padding: 7px 25px 7px 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  position: relative;
  font-family: sans-serif !important;
}
#bannerLmore:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 7px 45px 7px 25px;
}
#LMoreIcom {
  position: absolute;
  top: 47%;
  right: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}
#bannerLmore:hover #LMoreIcom {
  position: absolute;
  top: 47%;
  right: 12px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 1;
}
#serviceId {
  width: 100%;
  height: auto;
}
.serviceGRoup {
  display: grid;
  row-gap: 1px;
  column-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#serviceId h1 {
  text-align: center;
  padding: 5px 100px;
  margin: 50px 0;
  color: #fff;
}
.serviceGRoupitem {
  text-align: center;
  width: 100%;
  height: 250px;
  margin: 20px 0;
}
.aserviceImg {
  width: 90%;
  height: 90%;
  margin: 15px 0 0 15px;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
}
.aserviceImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.serviceGRoupitem .aserviceImg:hover img {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.aserviceImg h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #00000063;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0 !important;
}
#doucksID {
  margin: 50px 0;
}
.doucksGroup {
  display: grid;
  row-gap: 1px;
  column-gap: 1px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.doucksGroupItemBox h1 {
  font-size: 80px;
}
.doucksGroupItemBox p {
  font-size: 25px;
  color: #b5b5b5;
  font-family: sans-serif;
  margin-top: 5px;
}
.DSC_0463-scaled {
  width: 100%;
  height: auto;
  box-shadow: -1px 0 1px 4px #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#testimonialID {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgba(38, 67, 194, 0.692);
  overflow: hidden;
  padding: 0 0 20px 0;
}
#testimonialID h1 {
  color: #000;
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
}
.testimonialGroup {
  width: 100%;
  height: auto;
  display: block;
}
.testimonialGroupitem {
  width: 100%;
  height: auto;
  display: block;
  margin: 70px 0;
  outline: 0;
}
.testimonialGroupitem img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.starItemUL {
  margin: 20px 0;
  text-align: center;
}
.starItemUL li {
  display: inline-block;
}
.starItemUL li .fa-star {
  font-size: 40px;
  color: gold;
}
.testimonialGroupitemDes {
  text-align: center;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 0 30px;
}
.testimonialGroupitemDes h6 {
  font-size: 25px;
  margin-top: 10px;
  color: #000;
}
.testimonialGroupitemDes p {
  font-family: sans-serif;
  font-size: 22px;
}
/* #testimonialID .slick-next,
#testimonialID .slick-prev {
  background: 0 0;
  border: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  color: #777;
  padding: 10px 13px;
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
} */
/* .slick-next {
  left: 6rem;
  font-size: 1.2rem;
  z-index: 999;
}
.slick-prev {
  right: 0;
  font-size: 1.2rem;
  z-index: 999;
} */

#reviewID {
  background-color: beige;
  color: #fff;
}
#googleFAcebookID {
  background-color: #fff;
  padding: 30px 0;
}
.reviewGroup {
  text-align: center;
}
.reviewGroup p {
  font-size: 22px;
  color: #000;
}
.reviewGroup p b {
  color: #2989d8;
}
.reviewGroup p b:hover {
  color: #222;
}
.reviewGroupItem {
  padding: 30px 0;
}
.reviewGrouptwo {
  text-align: center;
  padding: 50px 0;
}
.reviewGrouptwo h2 {
  color: #000;
  font-size: 2.4em;
  font-family: "sans serif" !important;
}
.reviewGrouptwo h2:nth-child(3) {
  color: red;
}
.reviewGrouptwo p {
  font-family: sans-serif;
  padding: 30px 150px;
  font-size: 19px;
  color: #000;
}
#footerID {
  background-color: #002f7f;
  color: #fff;
  padding: 80px 0;
}
.footerGroup {
  display: grid;
  row-gap: 1px;
  column-gap: 1px;
  grid-template-columns: 2fr 1fr 1fr;
}
.footerGroupitem {
  padding: 0 20px;
}
.footerLogo {
  width: 300px;
  height: auto;
  /* margin: auto; */
  /* margin-left: -30px; */
  display: block;
}
.socialMidea {
  margin: 10px 0;
}
.socialMidea li {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
  font-family: sans-serif;
}
.fa-envelope,
.fa-fax,
.fa-map-marker-alt,
.fa-phone-alt {
  color: #659939;
}
.footerGroupitem p {
  font-size: 25px;
  margin: 10px 0;
}
.footerGroupitem a {
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
}
.footerGroupitem b {
  letter-spacing: 1.5px;
  margin-bottom: 27px !important;
  display: block;
  position: relative;
  font-family: sans-serif;
}
.footerGroupitem b:after {
  content: " ";
  display: block;
  top: 100%;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: #fff;
}
.linkUL a {
  padding: 0 0 0 10px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.linkUL a:hover {
  padding: 0 0 0 25px;
}
.linkUL li {
  margin-bottom: 10px;
}
footer {
  background-color: #001c4c;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}
footer a,
footer a:hover {
  color: #fff;
  font-family: sans-serif;
}
.copyright {
  font-family: sans-serif;
}

/* Alex */

#mainID {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  color: whitesmoke;
}

#mainID h1,
h2,
h3 {
  padding-top: 30px;
}

#mainID h3 {
  font-size: 2em;
}

#mainID p {
  font-size: 1.4em;
}

#mainID a {
  font-size: 1.4em;
  color: white !important;
  font-family: sans-serif;
}

#testimonialID,
#testimonialID h1,
#testimonialID h6 {
  color: whitesmoke;
}

.header {
  text-align: center;
  width: 100vw;
  height: 200px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.75);
}

.header h1 {
  color: white !important;
  font-size: 5em;
}

#faqHeader {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url(https://dicksdocksandlifts.com/wp-content/uploads/2019/07/AS6_7576-174.jpg) !important;
  background-position-y: bottom;
}

#aboutHeader {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url(https://dicksdocksandlifts.com/wp-content/uploads/2019/07/photo-1547836767-3e70150f017a.jpg) !important;
  background-position-y: bottom;
}

#productsHeader {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url(https://dicksdocksandlifts.com/wp-content/uploads/2019/07/photo-1507371341162-763b5e419408.jpg) !important;
}

.faq h3 {
  color: #1c6fff;
}

.faq h2 {
  text-decoration: underline;
}

.white-line {
  width: 100%;
  margin: 50px auto 20px auto;
  border-bottom: 1px solid white;
}

.flex {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .flex {
    display: block;
  }
}

.col {
  flex: 1;
}

.col-1 {
  flex: 1;
  order: 1;
}

.col-2 {
  flex: 1;
  order: 2;
}

.productsImg {
  margin-top: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.col-1 p {
  margin-top: 20px;
}
.col-2 p {
  margin-top: 20px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.dealer {
  border-radius: 8px;
  border: white 2px solid;
  padding: 0 20px 20px 20px;
  margin-bottom: 40px;
  width: 44%;
  /* height: 400px; */
  display: inline-block;
}

.product_ul {
  margin-left: 30px;
  margin-top: 20px;
}

.product_ul li {
  font-size: 1.4em;
  font-family: sans-serif;
  list-style: disc;
  padding-bottom: 10px;
}

ol {
  padding-top: 40px;
  margin-left: 30px;
}

ol li {
  font-size: 1.4em;
  font-family: sans-serif;
  padding-bottom: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

b {
  font-size: 1.4em;
  font-family: sans-serif;
  padding-bottom: 10px;
  line-height: 40px;
}

.question {
  margin-top: 20px;
}

.contacts-list li .icon {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  color: #fff !important;
  line-height: 46px;
  border-radius: 50%;
  top: 7px;
  background: #2989d8;
}

.contacts-list li .sub-head {
  font-size: 14px;
  margin-top: 1px;
  line-height: 1;
  display: inline-block;
  margin-bottom: 6px;
}

.contacts-list li p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.contacts-list li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 15px;
}

label,
input,
textarea {
  display: block;
  margin: 10px auto;
  font-family: sans-serif;
  border: none;
}

label {
  font-size: 20px;
}

input,
textarea {
  padding: 5px 0px;
  font-size: 20px;
  width: 100%;
}

.submit {
  border: none;
  width: 100%;
  background-color: #224086;
  color: whitesmoke;
}

img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.thumb {
  margin-bottom: 30px;
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-gallery {
  width: 22% !important;
  margin: 1%;
}

#ProductsmanuId,
#ServicesId {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #000;
  font-family: "Bebas Neue", cursive;
}

.slick-list {
  height: 100% !important;
}

.slick-slider.slick-initialized {
  height: 100% !important;
}

.blog-section {
  width: 100%;
  background-color: #fdf8bb;
  min-height: 300px;
}
.blog-container {
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.blog-container__text {
  font-size: 1.2rem;
  line-height: 1.7;
  font-family: sans-serif;
  color: #000;
  order: 2;
  padding: 1rem;
}
.blog-container__text h1 {
  font-size: 1.8rem;
  font-family: sans-serif;
  color: #444;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.blog-container__img {
  order: 1;
}
.blog-container__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 640px) {
  .blog-section {
    width: 100%;
    background-color: #f5f5dc;
    min-height: 300px;
    margin-bottom: 1rem;
  }
  .blog-container {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
  }
  .blog-container__text {
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: sans-serif;
    color: #000;
    order: 1;
    padding: 3rem;
    margin-left: 2rem;
    width: 65%;
  }
  .blog-container__text h1 {
    font-size: 1.8rem;
    font-family: sans-serif;
    color: #444;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  .blog-container__img {
    order: 2;
    width: 35%;
  }
  .blog-container__img img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-title {
  background-color: #25407b;
  text-align: center;
  padding: 2rem 0;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  z-index: 99999;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
.custom-arrow-left {
  left: 1rem;
}
.custom-arrow-right {
  right: 1rem;
}
